#container {
  display: grid;
  grid-template-columns: 25% 50% 25%;
}

#middle-container {
  grid-column-start: 2;
  grid-column-end: 3;
}

#header-container {
  border-bottom: 1px solid black;
}

#post-list {
  margin-top: 3px;
}

h1 {
  display: inline-block;
}

#create-post-link {
  float: right;
  margin-top: 24px;
}