textarea {
  width: 98%;
  height: 42rem;
  border: none;
  resize: none;
}

label {
  display: inline-block;
  margin: 0;
}

.editContainer {
  display: grid;
  grid-template-columns: 12.5% 75% 12.5%;
}

.editHeaderContainer {
  margin-top: 10px;
}

.headerTextField {
  width: 350px;
}

.editMiddleContainer {
  grid-column-start: 2;
  grid-column-end: 3;
}

.tabContainer {
  border: 1px solid black;
  background-color: #f1f1f1;
  margin-top: 10px;
}

.tabContainer button {
  background-color: inherit;
  border: none;
  outline: none;
  margin-top: 5px;
  margin-bottom: 5px;
}

#submit-button {
  width: 100px;
  background-color: lightgray;
  margin-top: 5px;
}

.tabcontent {
  display: none;
  border: 1px solid black;
  border-top: none;
}

#preview-area {
  width: 100%;
  height: 42rem;
  overflow: auto;
  margin-left: 7px;
  margin-right: 7px;
}

#markdownArea {
  margin-top: 3px;
  margin-left: 7px;
}

.notice {
  display: flex;
  justify-content: center;
}

.dz-preview {
  display: none;
}

.overlayDropdown {
  width: 150px;
}